<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div>
    <div>
    Per accedere, inserisci l'id utente
    </div>
    <div>
    (è 1484783000)
    </div>
    <div class="md-form">  
        <input id="name" class="form-control form-control-sm  ml-1" type="text" [formControl]="userID">
        <button (click)="accedi()" class="btn btn-primary btn-lg" ngbTooltip="Accedi">
        <span class="fa fa-pen fa-fw"></span> Accedi
        </button>
    </div>
</div>